Downloads/
oprogreso/db.sqlite3
venv/
scheduled_task.log
oprogreso/db.sqlite3
__pycache__
*.pyc
*.pyo
*.pyd
*.log
media
staticfiles
.env
db.sqlite3
TransferScript.sh
AlignMetadata.py
docker-compose.yml
.vscode/
docker-compose.yml
music/